html {
    font-size: 13px;
}
/* MAIN STYLING */

html, body {
    font-family: 'Open Sans', Helvetica, Arial;
    background: url('img/blur_background_dark_50.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#vifi-page-container {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    overflow: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 100%;
    min-height: 100%;
}

h3 {
    font-size: 1.4em;
    margin: 0.5em 0;
    color: #2EA849;
    border-bottom: 1px dotted #999;
    padding: 0 0 0.4em 0;
}

.break {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.new-feature {
    position: relative;
}

.new-feature:after {
    content: 'new';
    position: absolute;
    text-transform: uppercase;
    background-color: #1AD630;
    border: 1px dotted;
    padding: 0.1em 0.5em;
    border-radius: 1em;
}

.width-100 {
    width: 100%;
    box-sizing: border-box;
}

.width-50 {
    width: 50%;
    box-sizing: border-box;
    padding: 1%;
}

.width-25 {
    width: 25%;
    box-sizing: border-box;
    padding: 1%;
}

.card {
    margin: 0 0 2em 0;
    background: white;
    box-shadow: 0 2px 2px #ACA0A0;
    width: 100%;
    box-sizing: border-box;
}

.card-heading {
    font-size: 2em;
    line-height: 2em;
    background: #eee;
    border-bottom: 1px solid #D6C5C5;
}

.card-body {
    box-sizing: border-box;
}

.card-body .row-fluid {
    font-size: 1.2em;
    color: #1b1b1b;
    padding: 0 1em;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
}

.card-body .row-fluid i.icon {
    top: 13px;
}

#user-pairtv-info .card-body .row-fluid i.icon, #user-pairtv .card-body .row-fluid i.icon {
    top: 7px;
    left: 20px;
}

.card-body #change-password-edit .row-fluid i.icon {
    top: 14px;
    left: 20px;
}

.card-body #user-profile-edit .row-fluid i.icon {
    top: 15px;
    left: 20px;
}

.card-body .row-fluid input {
    height: 33px;
    line-height: 33px;
    width: 100%;
    border-color: #B5AAC4;
    border-radius: 0.5em;
    text-indent: 30px;
}

span.label {
    margin-left: 2em;
    font-size: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    color: #888;
    color: #aaa;
    margin: 0 10px 0 30px;
}

.card-body .row-fluid button {
    font-size: 1em;
}

.card-body .row-fluid button.float_right {
    margin: 0 0 1em 0;
}

.card-body .row-fluid #edit-profile-cancel-button, .card-body .row-fluid #change-password-cancel-button {
    margin: 0 1em 1em 0;
}

.card-heading-icon {
    background: url('img/anonymous_user_avatar.jpg');
    background-size: 2em;
    background-position: center;
    height: 2em;
    width: 2em;
}

.card-heading span {
    margin-left: 0.5em;
    color: #88718E;
}

#goTop {
    margin: 0 auto;
    width: 6em;
    height: 5em;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
}

#goTop:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#goTop span.arrowup {
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

#goTop p {
    font-weight: 700;
    color: #eee;
    text-shadow: 0 1px 2px #555;
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.loading_block {
    background-color: rgba(32, 17, 51, 0.5);
    background-image: url('img/loading-mini-icon.GIF');
    background-size: 4em !important;
    background-repeat: no-repeat;
    background-position: center; 
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 99999;
}

/* POP UP */

.white-popup.vifi-popup {
    padding: 0;
    box-sizing: border-box;        
    background-color: rgba(255,255,255,0.85);
}


.white-popup.vifi-popup.image-and-content-popup, .white-popup.multiple-col-popup  {
    max-width: 800px;

}

.white-popup.vifi-popup p {
    font-size: 1.1em;
}

.white-popup.vifi-popup.image-and-content-popup .col-content {
    padding: 1.5em;
    width: 60%;
    margin-left: 40%;
    box-sizing: border-box;
}

#login-popup {
    display: table;
}

.col-50 {
    padding: 1.5em;
    width: 50%;
    box-sizing: border-box;  
    float: left;
    display: inline-block;
}

.white-popup.vifi-popup.image-and-content-popup .popup-section {
    width: 100%;
    box-sizing: border-box;    
}

.col-content .film-title {
    font-size: 2.8em;
}

.col-content h3 {
    font-size: 1.2em;
}

.image-and-content-popup .col-img {
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* PAYMENT POPUP */

.popup-section .film-language {
    margin: 0;
}

.popup-section#payment-section {
    margin-top: 1em;
}

ul#payment-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul#payment-list li {
    list-style-type: none;
    display: inline-block;
    width: 32%;
    height: 70px;
    margin: 0 0 4px 0;
    opacity: 0.8;    
    filter: alpha(opacity=80);
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box;
    background-color: silver;
    -webkit-transition: background-color .2s, opacity .2s;
    transition: background-color .2s, opacity .2s;
    color: #000;
}

ul#payment-list li:hover, ul#payment-list li.selected { 
    opacity: 0.9;    
    filter: alpha(opacity=90);
    background-color: #42BE6A;  
}

ul#payment-list li.selected { 
    opacity: 1;    
    filter: alpha(opacity=100);
    background-color: #42BE6A;  
}

ul#payment-list li .payment-item-image {
    width: 100%;
    height: 40px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

ul#payment-list p {
    text-align: center;
    font-weight: 900;
    margin: 0;
}

li#swedbank .payment-item-image {
    background-image: url('img/Swedbank-logo.jpg');
}

li#nordea .payment-item-image {
    background-image: url('img/Nordea-logo.jpg');
}

li#seb .payment-item-image {
    background-image: url('img/SEB-logo.jpg');
}

li#danske .payment-item-image {
    background-image: url('img/Danske-logo.jpg');
}

li#creditcard .payment-item-image {
    background-image: url('img/CreditCard-logo.jpg');
}

li#code .payment-item-image {
    background-image: url('img/code-logo.jpg');
}

input#email, input#code, #side-menu input, .vifi-popup input.vifi-text-input {
    line-height: 33px;
    height: 33px;
    width: 100%;
    border: 1px solid #B5AAC4;
    border-radius: 0.5em;
    text-indent: 1em;
}

#side-menu input {
    border: none;
}

input#code {
    margin: 0 0 1.5em 0;
}

.payment-method-data {
    margin: 0 0 20px 0;
}

/* BUTTONS AND OTHER INPUT*/

button, .btn {
    background-color: #555;
    color: #eee;
    padding: 8px 15px 7px 15px;
    box-shadow: 0 2px 0 #333;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3em;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out, padding 0.2s;
    transition: background-color .2s ease-in-out, padding 0.2s;
    position: relative;
}

button:hover, .btn:hover, button:focus, .btn:focus {
    background-color: #444; 
}

.btn.big {
    padding: 15px 20px 12px 20px;
}

.btn.full {
    width: 100%;
}

a button, a .btn, button a, .btn a {
    text-decoration: none;
    color: #eee;
}

.btn.green {
    background-color: #0CA94F;
    box-shadow: 0 2px 0 #04652D;
}

.btn.green:hover {
    background-color: #09863E;
}

.btn.blue {
    background-color: #2E9BDD;
    box-shadow: 0 2px 0 #084D77;
}

.btn.blue:hover {
    background-color: #2376A8;
}

.btn.disabled, button.disabled, .btn.disabled:hover, button.disabled:hover {
    background-color: gray;
    box-shadow: 0 2px 0 #333;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: default;
}

button#loadMore {
    width: 98%;
    margin: 1em 1%;
    box-sizing: border-box;
    padding: 0.7em 0;
    background-color: #A6BFC9;
    box-shadow: 0 2px 0 #226575;
    color: #226575;
}

button#loadMore.loading {
    padding: 0.7em 0 0.7em 35px;
}

button#loadMore.loading:before {
    width: 25px;
    height: 25px;
    top: 10px;
}

button#loadMore:hover {
    background-color: #90AFBB;
}

.btn.clear, .btn.clear.loading {
    background: rgba(0, 0, 0, 0.2);
    padding: 60px 15px 10px 15px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
    margin: 10px auto;
    color: #aaa;
    font-size: 1.1em;
}

.btn.clear:hover {
    background: rgba(0, 0, 0, 0.4);
}

.btn.clear.disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}

.btn.clear.disabled:hover {
    background: rgba(0, 0, 0, 0.2);
}

.btn.clear:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url('img/restart.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
}

.btn.loading.clear:after {
    display: none;
}

.btn.loading.clear:before {
    top: 13px;
    left: 0;
    right: 0;
    margin: auto;
    width: 35px;
    height: 35px;
}

button.facebook {
    font-size: 1em;
    text-transform: none;
    padding: 0.7em;
    background-color: #3f5b95;
    box-shadow: 0 2px 0 #1F3F7F;
    letter-spacing: 0;
    position: relative;
    text-align: left;
    text-indent: 35px;
}

button.facebook.revoke {
    background-color: #D56D81;
    box-shadow: 0 2px 0 #AD5252;
}

button.facebook.revoke .icon{
    top: 5px;
    left: 5px;
}

button.facebook.revoke:hover {
    background-color: #B5596B;
}

button.facebook:hover {
    background-color: #2E4C89;
}

button.btn.facebook:before {
    content: '';
    position: absolute;
    background: black;
    height: 100%;
    width: 32px;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.btn.icon, .btn.loading {
    padding: 8px 15px 7px 40px;
}

.btn.icon:after {
    content: ' ';
    position: absolute;
    top: 6px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url('img/vifi-white-icon-set.png');
    background-size: 19px;
    background-repeat: no-repeat;
}

.btn.icon.play:after {
    background-size: 16px;
}

.btn.icon.gift:after {
    background-position: 0 -26px;
}

.btn.icon.star:after {
    background-position: 0 -70px;
}

.btn.icon.trailer:after {
    background-position: 0 -48px;
}

.btn.big.icon, .btn.big.loading  {
    padding: 15px 20px 12px 40px;    
}

.btn.icon.big:after {
    width: 25px;
    height: 25px;
    background-size: 22px;
    top: 10px;
    left: 13px;
}

.btn.icon.big.play:after {
    background-size: 20px;
}

.btn.loading:after {
    display: none !important;
}

.btn.loading:before, button.loading:before {
    top: 5px;
    left: 10px;
    display: block;
    position: absolute;
    content: ' ';
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    -webkit-animation: load8 0.7s infinite linear;
    animation: load8 0.8s infinite linear;
}

.btn.big.loading:before {
    top: 12px;
    left: 10px;
    width: 25px;
    height: 25px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input.vifi-text-input {
    box-sizing: border-box;
    color: #1b1b1b;
    background-color: #E1E0ED;
    border: 1px solid transparent;    
    -webkit-transition: background-color.2s, border-color.2s, width .3s;
    transition: background-color .2s, border-color.2s, width .3s;
    box-shadow: none !important;
}

input.vifi-text-input:focus {
    background-color: #fff;
    color: black;
}

.warning {
    color: #DF2929;
}

/* ICON */

span.icon {
    float: left;
    background: url('img/vifi-icon-set-1.png') no-repeat;
    background-repeat: no-repeat;
    background-size: 22px auto;
}

i.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('img/vifi-icon-set-1.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 9;
}

i.icon.email {
    background-position: 0 -62px;
}

i.icon.password {
    background-position: 0 -21px;
}

i.icon.confirm-password {
    background-position: 0 -42px;
}

i.icon.user {
    background-position: 0 0;
}

i.icon.message {
    background-position: 0 -102px;
    height: 18px;
}

i.icon.sync {
    background-position: 0 -82px;
}

i.icon.globe {
    background-position: 0 -120px;
}

i.icon.check-green {
    background-position: 0 -162px;
}

i.icon.facebook {
    background-position: 0 -140px;
}

.film-rating span.icon {
    height: 22px;
    margin: 0 0.3em 0 0;
}

span.icon.rottentomato {
    width: 22px;
    background-position: 0 -204px;
    background-size: 20px auto;
}

span.icon.imdb {
    width: 40px;
    background-position: 0 -374px;
    background-size: 40px auto;
}

button span.icon {
    height: 20px;
    width: 20px;
    margin: 0 0.3em 0 0;
}

span.arrowup {
    float:left;
    height: 30px;
    width: 50px;
    background: url('img/vifi-tactic-images.png') no-repeat;
    background-position: -75px -55px;
}
/* DISQUS COMMENT */

#disqus_thread {
    width: 100%;
    margin: 2em 0 0 0;
    float: left;
}

#disqus_thread a {
    color: #2EA849 !important;
}

/* MAIN TOOLBAR */

#content-container, #side-menu-container #side-menu {
    padding: 45px 0 0 0;
}

#contentpage li {
    float:left;
    list-style-type: none;

}
#contentpage ul.pager {
    z-index: 9;
    position: absolute;
    bottom:0;
    position: absolute;
    right: 0;
}
#toolbar-login {
    float:left;

}
#toolbar-login li{
    float:left;
    list-style-type: none;
}

#top-main-toolbar {
    width: 100%;
    height: 45px;
    z-index: 3;
    position:fixed;
    background-color: rgba(50, 46, 84, 0.95);
}

#menu-dragger {
    height: 45px;
    width: 45px;
    cursor: pointer;
    background-image: url('img/menu-icon.png');
}

.menu-icon, .search-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-icon {
    height: 45px;
    width: 45px;
    background-image: url('img/search-icon.png');
    background-size: 90px;
}

#clear-search-text-button {
    display: none;
    position: absolute;
    height: 33px;
    top: 6px;
    right: 0px;
    padding: 0.4em 0.8em;
    background-color: silver;
    box-shadow: 0 0 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #525252;
}

#clear-search-text-button:hover {
    color: #eee;
}

.menu-icon:hover, .snapjs-left .menu-icon, .search-icon:hover, #menu-dragger:hover {
    cursor: pointer;
    background-position: -45px 0;
}

#main-vifi-logo {
    width: 6em;
    height: 45px;
    background: url('img/vifi_logo.png') no-repeat 1em center;
    background-size: 3.5em;
    padding: 0.5em 0;
    box-sizing: border-box;
    -webkit-transition: background-color.2s ease-in-out;
    transition: background .2s ease-in-out;
}

#main-vifi-logo:hover, #main-vifi-logo:focus {
    background-color: #423c5d;
    cursor: pointer;
}

#toolbar-left-group {
    float:left;
    width: 20em;
}

#toolbar-search-group {
    float: left;
    width: 40%;
    position: relative;
}

#toolbar-right-group {
    display: none;
    float: right;
    width: 45px;
}

input#main-search-box {
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    line-height: 33px;
    margin: 6px 0;
    font-size: 1.1em;
    text-indent: 0.5em;
    border-radius: 0.4em;   
    background-image: url('img/search-dark-90.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center right 0.5em;
}

/* SIDE MENU */

.content-body, #main-content {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#side-menu {
    width: 20em;
    padding: 0 0 5em 0;
}

#side-menu h3 {
    color: #1AD630;
    margin: 1.5em 0.5em 0.5em 1.5em;
    padding: 0;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
}

#side-menu h3.new-feature:after {
    right: 0.5em;
    top: 0;
    font-size: 0.7em;
    color: #602583;
}

.snapjs-right .left-drawer,
.snapjs-left .right-drawer {
    display: none;
}

ul.side-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.side-menu-list a {
    text-decoration: none;
}

.side-menu-list li {
    padding: 0.3em 0.5em 0.3em 1.7em;
    color: #EBDAE3;
    font-size: 1.1em;
    font-weight: 500;
    background: none;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.side-menu-list li:hover, .side-menu-list li:focus,.side-menu-list a.active li {
    background: #634256;
}

form#user-login, form#user-register {
    padding: 0 1.5em;
}

#side-menu form h3 {
    margin: 1.5em 0.5em 0.5em 0;
}

.tagline {
    color: #EBDAE3;
    font-size: 1.1em;
    font-weight: 500;
}

.vifi-popup .tagline {
    color: #1b1b1b;
}

.tagline a, #side-menu form .tagline a {
    font-weight: 700;
}

#side-menu form a {
    color: #B67E9C;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: underline;
}

form#user-register, form#popup-user-register {
    display:none;
}

#side-menu .row-fluid, .vifi-popup .row-fluid {
    margin: 0 0 0.5em 0;
    position: relative;
}

#side-menu .row-fluid.error, form .row-fluid.error  {
    color: red;
    border: 1px solid red;
    padding: 0.3em;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    margin: 0.5em 0;
}

#side-menu form input, .vifi-popup form .row-fluid input {
    text-indent: 30px;
}

#side-menu form .row-fluid i.icon, .vifi-popup form .row-fluid i.icon {
    top: 7px;
    left: 7px;
}

#side-menu #social-login .row-fluid i.icon, #popup-social-login .row-fluid i.icon {
    top: 5px;
    left: 5px;
}

#social-login {
    padding: 1.5em 1.5em 0 1.5em;
}

/* SLIDER */

.pagination, .pagination-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}

.swiper-pagination-switch {
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.7em;
    margin: 0 0.2em;
    background: #fff;
    display: inline-block;
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
}

.swiper-pagination-switch:hover, .swiper-pagination-switch.swiper-active-switch {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

a.arrow-left, a.arrow-right {
    position: absolute;
    top: 43%;
    width: 30px;
    height: 50px;
    background: url('img/vifi-tactic-images.png');
    z-index: 2;
    opacity: 0.3;
    filter: alpha(opacity=30);
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
}

a.arrow-left:hover, a.arrow-right:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

a.arrow-left {
    left: 0.3em;
    background-position: -70px 0;
}

a.arrow-right {
    right: 0.3em;
    background-position: -98px 0;
}

.featured-item-background {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide, .featured-item {
    height: 100%;
    width: 100%;
}

.featured-item {
    position: relative;
}

.featured-item-info {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 40%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0.45)), color-stop(70%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 40%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 40%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 40%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 40%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 90%;
    bottom: 0;
    padding: 2.5em 5% 3.5em 5%;
}

.featured-item-title {
    font-size: 2.5em;
    letter-spacing: -0.4px;
    font-weight: 700;
    color: #ddd;
    text-shadow: 0 1px 1px #333;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

.featured-item-description {
    font-size: 1.4em;
    line-height: 1.5em;
    color: #ddd;
    text-shadow: 0 1px 1px #333;
    width: 60%;
}

.featured-item-button {
    margin: 1em 0 0 0;
}

/* CONTENT CONTAINER */

#content-container {
    background: url('img/blur_background1.jpg') no-repeat center center fixed;
    background-size: cover;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer 10+ */
}

.main-wrapper {
    height: auto;
    min-height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    transition: width 0.2s;
    display:none;
    -webkit-transition: width 0.2s;
}

.feature-wrapper {
    width: 100%;
    background: #ddd;
}

#featured-swiper-container, #gallery-swiper-container {
    height: 455px;
}

.swiper-container, .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-nav {
    height: 4em;
    box-sizing: border-box;
}

.swiper-nav .swiper-wrapper{
    margin: 0 auto;
}

.swiper-nav .swiper-slide {
    width: auto;
    padding: 0 2em;
    height: 3.4em;
    line-height: 3.4em;
    font-weight: 700;
    font-size: 1.2em;
    color: #A28095;
    cursor: pointer;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.swiper-nav .swiper-slide:hover, .swiper-nav .swiper-slide-active {
    color: #DDD;
    position: relative;
}

.sub-tabbar {
    width: 100%;
    text-align:center;
    background: rgba(90, 69, 94, 0.8);
}

.swiper-nav .swiper-slide-active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: rgba(230, 230, 230, 0.9);
    position: absolute;
    bottom: 0;
    left: 45%;
    transition: left 300ms ease-out;
    -webkit-transition: left 300ms ease-out;
    -moz-transition: left 300ms ease-out;
    -o-transition: left 300ms ease-out;
    -ms-transition: left 300ms ease-out;
}

#front-tabbar-swiper-container.swiper-nav .swiper-slide-active:after {
    border-bottom-color: rgba(49, 34, 53, 0.5);
}


.selection-container {
    width: 100%;
    box-sizing: border-box;
    background: rgba(49, 34, 53, 0.75);
    padding: 1%;
}

.selection-wrapper, #clear-list {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.close-button {
    width: 25px;
    height: 25px;
    float: left;
    background-image: url('img/vifi-tactic-images.png');
    background-size: 140px;
    background-position: -2px -232px;
    cursor: pointer;
    margin: 0 0.5em 0 0;
}

.close-button:hover, .close:hover .close-button {
    background-position: -35px -232px;
}

#video-container-heading .close {
    float: right;
}
#video-container-heading
{
    position: absolute;
    top:0px;
    opacity: 0.5;
}

.close {
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    cursor: pointer;
}

.close:hover {
    color: #C81C1C;
}

.selection-wrapper p {
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1% 0 0 0;
    padding: 0 0.5%;
    color: #AD734B;
    float: left;
}

.selection {
    width: 16%;
    box-sizing: border-box;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em 0 2.5em;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    text-align: left;
    display: inline-block;
}

.selection:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.selection.toggle-on {
    color: #63D116;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.selection:after {
    content: ' ';
    position: absolute;
    top: 0.6em;
    left: 0.5em;
    height: 1.5em;
    width: 1.5em;
    box-sizing: border-box;
    border: 0.25em solid #777;
    border-radius: 2em;
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.selection:hover .selection:after {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.selection.toggle-on:after {
border-color: #7a7a7a;
background-color: #68E610;
opacity: 0.9;
filter: alpha(opacity=90);
} 

.selection span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}


/* MAIN CONTENT BODY */

#content-body, #moviepage-body, #profilepage-body, .singlepage-body {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
}
#homepage {

    visibility:hidden;
}

#content-body {
    position: relative;
    background: rgba(230, 230, 230, 0.75);
}

ul#content-body-list,
ul#cast-content-body-list,
ul.user-filmcollection-list, #film-info-container,
#film-cast-container,
#film-list-container,
#profilepage-mymovies-container,
#profilepage-myprofile-container,
.singlepage-body-container
{
    margin: 0;
    padding: 0;
    width: 100%;
}

#film-info-container, #film-cast-container {
    min-height: 40em;
}


.page-footer {
    background: #BEA2B1;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

ul#content-body-list li, ul#cast-content-body-list li {
    list-style-type: none;
}

.item {
    width: 14.66%;
    margin: 1%;
    box-sizing: border-box;
    box-shadow: 0 2px 2px #ACA0A0;
    background: white;
    transition: background 0.2s;
    -webkit-transition: background  0.2s;
    -moz-transition: background  0.2s;
    -o-transition: background  0.2s;
    -ms-transition: background  0.2s;
    float:left;
    cursor: pointer;
}

.item:hover {
    background: #ddd;
}

.item-image {
    width: 100%;
    height: 22em;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
}

ul#cast-content-body-list li .item-image {
    background-image: url('img/anonymous_avatar.jpg');
}

/*.film-list .item-image:after {
    content: ' ';
    position: absolute;
    width: 70px;
    height: 70px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('img/vifi-tactic-images.png');
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
}

.film-list .item-image:hover:after{
    opacity: 1;
    filter: alpha(opacity=100);    
}*/

.item-rating {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    bottom: 0;
    padding: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
}

.item:hover .item-rating {
    opacity: 1;
    filter: alpha(opacity=100);  
}

.item-rating table {
    width: 100%;
    box-sizing: border-box;
    color: #333;
    font-weight: 700;
}

.item-rating span.icon {
    height: 22px;
    margin: 0 5px 0 0;
}

.item-info {
    width: 100%;
    box-sizing: border-box;
    float: left;
    border-top: 1px solid #D6C5C5;
    padding: 0.5em;
}

.item-info-title a {
    font-size: 1.2em;
    letter-spacing: -0.2px;
    line-height: 1;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: color 0.1s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
}

.item:hover .item-info-title a {
    color: #00983B;
}

.item-info-title a:hover {
    text-decoration: underline;
}

.item-info-description {
    font-size: 1em;
    margin: 0.1em 0 1em 0;
    word-break: break-word;
}

.item-info-footer {
    width: 100%;
    font-size: 1em;
}

.item-info-duration {
    width: 50%;
    float: left;
    box-sizing: border-box;
    color: gray;
}

.item-info-price {
    width: 50%;
    float: left;
    color: silver;
    text-align: right;
    color: #00A843;
    font-size: 1.1em;
}

/* MOVIE PAGE */

#moviepage-body, #profilepage-body, .singlepage-body {
    background: #DFDBDB;
}

#movie-page-header.feature-wrapper {
    z-index: 0;
}

#gallery-swiper-container {
    text-align: center;
}

#movie-gallery-slides {
    overflow: hidden;
}

ul#movie-interactive-button-row {
    z-index: 2;
    list-style-type: none;
    position: absolute;
    width: 650px;
    margin: auto;
    top: 200px;
    left: 0;
    right: 0;
    padding: 0;
    text-align: center;
}

ul#movie-interactive-button-row li {
    display: inline-block;
}

.film-poster {
    width: 20%;
    margin: 1%;
}

.film-poster img {
    width: 100%;
}

.film-info, .film-summary{
    width: 76%;
}

.film-info {
    margin: 1% 1% 0 1%;
}

.film-summary {
    margin: 0 1% 1% 1%;
}

.film-title {
    font-size: 3.5em;
    letter-spacing: -0.5px;
    line-height: 1.1em;
    font-weight: 300;
    color: #111;
}

.film-description {
    font-size: 1.5em;
    color: #555;
    margin: 10px 0 0 0;
    line-height: 1.2em;
}

.film-rating, .film-rating table {
    width: 100%;
}

.film-rating table {
    background: #d8d3d3;
    padding: 0.4em;
    font-weight: 700;
    color: #555;
}

.film-rating {
    margin: 1em 0;
    font-size: 1.1em;
}

.addthis_native_toolbox {
    margin: 1em 0;
}

.film-summary .text-area {
    font-size: 1.2em;
    line-height: 1.8em;
    color: black;
    padding-right: 1em;
}

.film-language, .film-language table {
    width: 100%;
}

.film-language {
    margin: 1em 0 0 0;
}

.imdbRatingStyle4 {
    font-size: 1.1em !important;
    margin: 0 !important;
}

.film-rating a {
    color: black;
    text-decoration: none;
}

/* TRAILER AND VIDEO */

.video-container {
    background-color: #1b1b1b;
    width: 100%;
    box-sizing: border-box;
}

#video-container-heading {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.video-container-body {
    width: 100%;
    height: 100%;
}

.video-container-body iframe {
    width: 100%;
}

#video-container-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5%;
}

#video-container-footer ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0.5%;
    box-sizing: border-box;
}

#video-container-footer ul li {
    display: inline-block;
}

/* VIDEO PLAYER */

#movie-player-container {
    background: #1b1b1b;
    position: relative;
}

.flowplayer .fp-progress {
    background-color: #42C515 !important;
}

.flowplayer .fp-buffer {
    background-color: #A18E8E !important;
}

.video-selector {
    float: left;
    width: 33.2%;
    box-sizing: border-box;
    padding: 0.5%;
}

#movie-player-container #video-container-footer, #movie-player-container #player-container {
    background-color: #1b1b1b !important;
}

#subtitles {
    position: absolute;
    bottom: 1.2em;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: Arial;
    line-height: 1.1em;
    z-index:99;
    font-weight: 600;
    color: #FFF683;
    text-shadow: 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 2px 2px black;
}
/* SEARCH PAGE */

.search-result-heading {
    font-size: 3em;
    font-weight: 100;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    text-align: center;
    width: 80%;
    margin: 1em 10%;
}

#search-result-header {
    background: url('img/blur_background1.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* USER PROFILE PAGE */

#profilepage-header {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 2em 0;
}

.profile-image {
    width: 9em;
    height: 9em;
    border-radius: 9em;
    margin: 0 auto;
    display: inline-block;
    background-position: center;
    background-image: url('img/anonymous_user_avatar.jpg');
    background-size: 120px;
}

.profile-name {
    font-size: 2.5em;
    font-weight: 100;
    color: #fff;
    text-shadow: 0 1px 1px #333;   
}

#user-profile .card-body .row-fluid, .card-body #change-password-edit .row-fluid {
    height: 3em;
    line-height: 3em;
    margin: 0;
}

#user-profile-edit, #subscribe-positive, #change-password-edit, #profilepage-mymovies-container {
    display:none;
}

input#profile-newsletter {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
}

/* SUBSCRIBE PAGE */

.singlepage-header {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

#subscribepage-header {
    background-image: url('img/subscribe-page-heading.png');
    background-position: 450px 30px;
    height: 350px;
}

#pairingpage-header {
    background-image: url('img/pairing-page-heading.png');
    background-position: 620px 30px;
    height: 350px;
}


#subscribepage-heading {
    text-align: left;
    margin: 100px 50px;
    font-size: 2.5em;
    width: 45%;
}

#pairingpage-heading {
    text-align: left;
    margin: 100px 50px;
    font-size: 2.5em;
    width: 45%;    
}

.singlepage-heading {
    color: #fff;
    text-shadow: 0 1px 1px #333;    
    font-weight: 100;
}

.singlepage-body {
    box-shadow: 0 -2px 2px #A38893;
}

.subscription {
    border: 2px solid transparent;
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
}

.subscription:hover {
    border-color: #09863E;
}

.subscription-duration {
    padding: 2em 0;
    background: #eee;
}

.subscription-duration p {
    margin: 0 15px;
    padding: 0;
    text-align: center;
    font-weight: 100;
}

p.duration-number {
    font-size: 4em;
    color: #D84678;
    letter-spacing: -3px;
}

p.duration-text {
    font-size: 1.7em;
    color: #333;
    letter-spacing: -1px;
}

#code-plan p.duration-text {
    font-size: 1.4em;
    letter-spacing: 0px;
}

.subscription-price {
    padding: 1em 0 0 0;
}

.subscription-price p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    color: #1b1b1b;
}

p.price-teaser {
    font-size: 1em;
    color: #DF3A3A;
}

#subscription-benefits {
    padding: 1%;
}

ul#subscription-benefit-list {
    margin: 0;
    padding: 0;
}

ul#subscription-benefit-list li {
    font-size: 1.5em;
    padding: 0 0.5em 0.5em 30px;
    color: #333;
    position: relative;
}

ul#subscription-benefit-list li .icon {
    left: 0;
    top: 4px;
}

#pairingpage-body .singlepage-text ul.simple-list li{
    margin-bottom: 1em;
}

/* SINGLE PAGE */

.singlepage-text {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
}

#contentpage .singlepage-text ul.simple-list li{
    list-style-type: disc;
}

@media (max-width: 3840px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1600px) {

    #content-container {
        background: url('img/blur_background_1600.jpg') no-repeat center center fixed;
    }

}

@media only screen and (max-width: 1280px) {

    #content-container {
        background: url('img/blur_background_1280.jpg') no-repeat center center fixed;
    }

    .main-wrapper {
        max-width: 960px ;
    }

    #header-page-header.feature-wrapper {
        height: 25em ;
    }

    .item {
        width: 18% ;    
        margin: 1% ;
    }

    .film-title {
        font-size: 2.8em ;
        margin-top: 0.2em ;
    }

    .film-description {
        font-size: 1.3em ;
        line-height: 1.2em ;
        margin: 0.4em ;
    }

    #subscribepage-heading, #pairingpage-heading {
        font-size: 2em ;
        margin: 70px 50px ;
    }

    #subscribepage-header {
        background-position: 295px 55px ;
        height: 315px ;
        background-size: 650px ;
    }

    #pairingpage-header {
        background-position: 440px 30px ;
        height: 296px ;
        background-size: 500px ;
    }

    #subtitles {
        font-size: 2.3em ;
    }
}

@media only screen and (max-width: 1100px) {
    #featured-swiper-container, #gallery-swiper-container {
        height: 420px ;
    }
}

@media only screen and (max-width: 1080px) {

    #content-container {
        background: url('img/blur_background_1080.jpg') no-repeat center center fixed;
    }
}

@media only screen and (max-width: 920px), only screen and (max-device-width: 920px), only screen and (min-resolution: 192dppx) {

    #content-container {
        background: url('img/blur_background_960.jpg') no-repeat center center fixed;
    }

    .main-wrapper {
        max-width: 100% ;
    }

    #featured-swiper-container, #gallery-swiper-container {
        height: 364px ;
    }

    .selection {
        width: 24% ;
    }

    .item {
        width: 22% ;    
        margin: 1.5% ;
    }

    .featured-item-title {
        font-size: 2em ;
    }

    .featured-item-description {
        font-size: 1.2em ;
        line-height: 1.4em ;
    }

    .featured-item-description {
        width: 75% ;
    }

    .btn.big {
        padding: 0.9em 1.2em 0.8em 1.2em ;
    }

    .film-poster {
        width: 28% ;
    }

    .film-info, .film-summary {
        width: 68% ;
    }

    .film-summary .text-area {
        font-size: 1.2em ;
        line-height: 1.7em ;
        padding-right: 0.8em ;
    }

    .search-result-heading {
        font-size: 2.5em ;
    }

    #subscribepage-header {
        background-position: 295px 30px ;
        height: 290px ;
    }

    #pairingpage-header {
        background-position: 390px 30px ;
        height: 270px ;
        background-size: 450px ;
    }

    ul#subscription-benefit-list li {
        font-size: 1.2em ;
    }

    #subtitles {
        font-size: 2em ;
    }
}

@media only screen and (max-height: 768px) {
    #featured-swiper-container, #gallery-swiper-container, #player-container.flowplayer, .video-container-body iframe {
        height: 390px ;
    }

    ul#movie-interactive-button-row {
        top: 170px;
    }

    .selection-container {
        padding: 0.5% ;
    }

    .swiper-nav {
        height: 3.5em ;
    }

    .swiper-nav .swiper-slide {
        height: 3.2em ;
        line-height: 3.2em ;
    }

    .swiper-nav .swiper-slide-active:after {
        bottom: 3px ;
    }

    .item-image {
        height: 20em ;
    }

    #subtitles {
        font-size: 2em ;
    }
}

@media only screen and (max-height: 600px) {
    #featured-swiper-container, #gallery-swiper-container, #player-container.flowplayer, .video-container-body iframe {
        height: 350px ;
    }

    ul#movie-interactive-button-row {
        top: 150px;
    }

    p.duration-number {
        font-size: 3.5em ;
        letter-spacing: -2px ;
    }

}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px), only screen and (min-resolution: 192dppx) {
    #player-container.flowplayer, .video-container-body iframe {
        height: auto ;
    }

    #featured-swiper-container, #gallery-swiper-container {
        height: 390px ;
    }

    .subscription-duration {
        padding: 1em 0 ;
    }

    #subtitles {
        font-size: 1.2em ;
        bottom: 2.2em ;
    }

}

@media only screen and (max-height: 480px) {
    #featured-swiper-container, #gallery-swiper-container {
        height: 320px ;
    }
}


@media only screen and (max-width: 640px), only screen and (max-device-width: 640px), only screen and (min-resolution: 192dppx) {

    html {
        font-size: 13px;
    }

    #content-container {
        background: url('img/blur_background_1080.jpg') no-repeat center center fixed;
    }

    .width-50 {
        width: 100% ;
    }

    .width-25 {
        width: 50% ;
    }

    .col-50 {
        width: 100% ;
    }

    .card {
        margin: 0 0 1em 0 ;
    }

    #toolbar-left-group {
        float:left ;
        width: auto ;
    }

    #toolbar-right-group {
        display: block ;
    }

    #main-vifi-logo {
        position: absolute ;
        margin: auto ;
        left: 0;
        right: 0;
    }

    #toolbar-search-group {
        display: none;
        float: left;
        width: 100% ;
        height: 42px;
        position:absolute;
        top: 45px;
        background-color: rgba(50, 46, 84, 0.95);
    }

    #toolbar-search-group:after {
        visibility: hidden ;
    }

    input#main-search-box {
        position: absolute ;
        margin: 0.3em auto ;        
        background-image: url('img/search-dark-90.png');
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        width: 90%;
    }

    #content-body {
        padding: 1% 1% 5em 1% ;
    }

    span.arrowup {
        height: 30px ;
        width: 30px ;
        background-size: 119px ;
        background-position: -45px -32px ;
    }

    #featured-swiper-container, #gallery-swiper-container {
        height: 390px ;
    }

    .pagination, .pagination-1 {
        padding: 0.8em 0 ;
    }

    .swiper-pagination-switch {
        width: 0.5em;
        height: 0.5em;
    }
    
    .swiper-nav .swiper-slide {
        padding: 0 1.5em ;
    }

    .selection {
        width: 49% ;
    }

    .selection-wrapper {
        padding: 0 1% 1% 1%;
        text-align: left ;
    }

    .film-list .item, .user-filmcollection-list .item {
        width: 98% ;
        margin: 1% ;
    }

    ul#cast-content-body-list .item {
        width: 44% ;
        margin: 3% ;
    }

    ul#cast-content-body-list .item-image {
        height: 15em ;
    }

    .film-list .item-image, .user-filmcollection-list .item-image {
        width: 30% ;
        height: 11em ;
    }

    .film-list .item-info, .user-filmcollection-list .item-info {
        width: 70% ;
        border-top: none;
    }

    .featured-item-background {
        background-position: center;
    }

    a.arrow-left, a.arrow-right {
        opacity: 0 ;
        filter: alpha(opacity=0) ;
    }

    .feature-item-info {
        width: 96% ;
        padding: 2em 2% 3.6em 2% ;
    }

    .featured-item-title {
        font-size: 1.8em ;
    }

    .featured-item-description {
        width: 90% ;
    }

    .featured-item-description {
        font-size: 1.1em ;
        line-height: 1.4em ;
    }

    #gallery-swiper-container {
        text-align: left ;
    }

    ul#movie-interactive-button-row {
        width: 250px;
        top: 220px;
        left: 20px;
        text-align: left;
        margin: 0;
        z-index: 999;
    }

    ul#movie-interactive-button-row li {
        display: list-item ;
        margin-bottom: 0.5em ;
    }

    .swiper-nav {
        height: 3.5em ;
    }

    .swiper-nav .swiper-slide {
        height: 3em ;
        line-height: 3em ;
    }

    .swiper-nav .swiper-slide-active:after {
        bottom: 1px;
    }

    #front-tabbar-swiper-container.swiper-nav .swiper-slide-active:after {
        border-bottom-color: rgba(55, 35, 60, 0.65);
    }

    .item-info-title a {
        font-size: 1.4em ;
    }

    .item-info-description {
        font-size: 1.1em ;
        margin: 0.1em 0 0.3em 0;
    }

    .film-title {
        font-size: 2em ;
        margin-top: 0.4em ;
    }

    .film-description {
        font-size: 1.2em ;
        line-height: 1.2em ;
        margin: 0.6em 0 0 0 ;
    }

    .film-rating {
        font-size: 0.9em ;
    }

    .film-summary {
        width: 96% ;
    }

    .film-summary h3 {
        padding: 0 0.5em 0.4em 0.5em ;
    }

    .film-summary .film-language h3 {
        padding: 0 0 0.4em 0 ;
    }

    .film-summary .text-area {
        font-size: 1.2em ;
        line-height: 1.7em ;
        padding: 0 0.5em ;
    }

    .search-result-heading {
        font-size: 2em ;
        width: 90% ;
        margin: 1em 5% ;
    }

    .film-rating table {
        padding: 0.1em 0 ;
    }

    #disqus_thread {
        width: 98% ;
        padding: 2em 1% 0 1% ;
    }

    .selection-container {
        padding: 1% 1% 3% 1% ;
    }

    #video-container-footer ul {
        padding: 1em 1em 0 1em ;
    }

    #video-container-footer ul.options {
        margin: 0 ;
    }

    #video-container-footer ul li {
        margin-bottom: 1em;
    }

    #video-container-heading {
        padding: 2% ;
    }

    .video-container-footer ul li {
        margin: 1%;
    }

    .video-selector {
        width: 50% ;
        padding: 1%;
    }

    .image-and-content-popup .col-img {
        display: none ;
    }

    .white-popup.vifi-popup.image-and-content-popup .col-content, .col-50 {
        width: 100% ;
        margin-left: 0 ;
    }

    #subscribepage-heading, #pairingpage-heading {
        font-size: 2em ;
        width: 80% ;
        margin: 10% ;
    }

    #subscribepage-header {
        background-position: -10px 160px ;
        height: 342px ;
        background-size: 455px ;
    }

    #pairingpage-header {
        background-position: 10px 140px ;
        height: 322px ;
        background-size: 340px ;
    }

    .subscription-duration {
        padding: 1em 0 ;
    }

    p.duration-number {
        font-size: 3em ;
        letter-spacing: -2px ;
    }

    p.duration-text {
        font-size: 1.2em ;
        letter-spacing: 0 ;
    }

    #subscription-benefits {
        padding: 1em ;
    }

    #subtitles {
        font-size: 1.2em ;
        bottom: 2.2em ;
    }

    #clear-search-text-button {
        top: 4px;
        right: 5%;
    }

    .item-rating {
        opacity: 1;
        filter: alpha(opacity=100); 
        width: 233%;
        left: 100%; 
        background-color: transparent;
    }

}