<script type="text/html" id="filmitemTemplate">
<a href="{{seo_friendly_url }}">
    <div class="item-image" style="background-image: url('http://gonzales.vifi.ee/files/images/image.php?src={{ poster_url }}&w=300');">
        <div class="item-rating">
                <table>
                    <tbody>
                        <tr>
                            <td id="imdbratings">
                                <span class="icon imdb"></span> <span>{{imdbrating}}</span>
                            </td>
                            <td id="rtratings">
                                <span class="icon rottentomato"></span> <span>{{imdbrating}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</a>
<div class="item-info">
    <div class="item-info-title"><a href="{{seo_friendly_url }}">{{title }}</a></div>
    <div class="item-info-description">{{year }} - {{genres_text }}</div>
    <div class="item-info-footer">
        <div class="item-info-duration">{{running_time_text }}</div>
        <div class="item-info-price">{{price}}</div>
    </div>
</div>
</a>
</script>
<script type="text/html" id="userfilmitemTemplate">

<a href="{{seo_friendly_url }}">
<div class="item-image" style="background-image: url('http://gonzales.vifi.ee/files/images/image.php?src={{ poster_url }}&w=300');"></div></a>
<div class="item-info">
    <div class="item-info-title"><a href="{{seo_friendly_url }}">{{title }}</a></div>
    <div class="item-info-footer">
        <div class="item-info-duration">{{validtotext }}</div>
    </div>
</div>
</a>
</script>

<script type="text/html" id="userCollectionTemplate">
            <div id="user-collection">
            </div>
</script>
