<script type="text/html" id="topmenuTemplate">

     <div id="toolbar-left-group">
       {{#if profile_picture}} 
        <div id="menu-dragger" class="float_left" style="background-image: url({{profile_picture}}?width=90&height=90); background-size: auto 45px;"></div>
        {{else}}
        
        <div id="menu-dragger" class="menu-icon float_left" style="background-image: url('style/img/menu-icon.png'); background-size: 90px;"></div>
        {{/if}}

        <a href="#">
            <div id="main-vifi-logo" class="float_left"></div>
        </a>

</div>

    <div id="toolbar-right-group">
        <div id="search-button" class="search-icon float_left"></div>
    </div>

    <div id="toolbar-search-group">
    <form id="main-search-form">

        <input type="text" id="main-search-box" class="vifi-text-input" placeholder="Otsi filmi või näitlejat"/></form><button class="search-button btn" id="clear-search-text-button">X</button>
    </div>


</script>

<script type="text/html" id="sidemenuTemplate">

            <div id="side-menu" class="snap-drawer snap-drawer-left">
                        {{#if name}}                       
                        <h3>{{ name }}</h3>
                        <ul class="side-menu-list">
                            <a href="#me" id="menu-me"><li> Account </li></a>
                            <a href="#me/my-films" id="menu-myfilms"><li>My films</li></a>
                            <a href="#me/pair-device" id="menu-pairtv"><li>Pair TV</li></a>
                            <a class="logout" href="#"><li>Logout </li></a>
                        </ul>
                        {{else}}
                        <div id="social-login">
                            <div class="row-fluid">
                                <i class="icon facebook"></i>
                                <button class="btn full facebook">Logi sisse Facebookiga</button>
                            </div>
                        </div>

                        <div id="login-register-form">
                            <form id="user-login">
                            <h3>Logi Sisse</h3>                            
                                <div class="row-fluid">
                                    <i class="icon email"></i>
                                    <input type="email" id="login-email" class="vifi-text-input" placeholder="E-post" />
                                </div>
                                <div class="row-fluid">
                                    <i class="icon password"></i>                            
                                    <input type="password" id="login-password" class="vifi-text-input" placeholder="Parool" />
                                </div>
                                <div class="row-fluid">
                                    <button class="btn green full" id="login-confirm">Logi Sisse</button>
                                </div>
                                <div class="row-fluid">
                                    <a href="">Unustasin parooli</a>
                                </div>
                                <div class="row-fluid">
                                    <p id="login-tagline" class="tagline">New to Vifi? <a class="register-button" href="#">Registreeri</a></p>
                                </div>
                            </form>

                            <form id="user-register">
                            <h3>Registreeri</h3>
                                <div class="row-fluid">
                                    <i class="icon email"></i>
                                    <input type="email" id="register-email" class="vifi-text-input" placeholder="E-post" />
                                </div>
                                <div class="row-fluid">
                                    <i class="icon password"></i>                            
                                    <input type="password" id="register-password" class="vifi-text-input" placeholder="Parool" />
                                </div>
                                <div class="row-fluid">
                                    <i class="icon confirm-password"></i> 
                                    <input type="password" id="register-password-verify" class="vifi-text-input" placeholder="Parool uuesti" />
                                </div>
                                <div class="row-fluid">
                                    <button class="btn green full" id="register-confirm">Registreeri</button>
                                </div>
                                <div class="row-fluid">
                                    <p id="register-tagline" class="tagline">Already have an account? <a class="register-button" href="#">Logi Sisse</a></p>
                                </div>
                            </form>
                        </div>
                        {{/if}}

                        <h3 class="new-feature">Subscribe</h3>
                        <ul class="side-menu-list">
                            <a id="menu-subscription" href="#subscription-plans"><li>Subscription plans</li></a>
                        </ul>

                        <h3>Tugi</h3>
                        <ul class="side-menu-list">
                  
                            <a href="#"><li>Kasutustingimused</li></a>
                            <a href="#"><li>Korduma kippuvad küsimused</li></a>
                            <a href="#"><li>Filmi vaatamine läbi teleri</li></a>
                            <a href="#"><li>Tagasiside</li></a>
                        </ul>
                        <h3>Testi Arvutit!</h3>
                        <ul class="side-menu-list">
                            <a href="#"><li>Vaata ja testi oma arvuti seadeid</li></a>
                            <a href="#"><li>Liitu uudiskirjaga</li></a>
                        </ul>
            </div>
        </script>