<!-- Homepage -->
<script type="text/html" id="browserPageTemplate">
        <form id="search-form">
            <input type="hidden" id="q"/>
            <div id="filter-elements" style="display:none"></div>
        </form>
        <div id="filter-bar" class="sub-tabbar float_left"></div>
        <div id="filter-list" class="selection-container float_left">
        </div>
        <div id="content-body" class="float_left">
                <ul id="content-body-list" class="film-list">
                </ul>
                <button style="display:none" id="loadMore">Lae juurde</button>
        </div>
        <!-- Footer -->
        <div class="page-footer float_left">
            <div id="goTop" class="goTop">
                <span class="arrowup"></span>
                <p>Go to top</p>
            </div>
        </div>
</script>
<script id="languageFormat" class="helper" data-args="arg1" type="text/html">
      
      languageString = arg1.toString();      
      if (languageString == "en") return t("English");
      return t("Estonian");

</script>
<script id="selectedHelper" class="helper" data-args="arg1,arg2" type="text/html">
      var sel = arg1;
      if (sel == arg2) { 
        return "selected";
      }


</script>
<script id="ifCond" class="helper" data-args="arg1,arg2,options" type="text/html">
 if(arg1 === arg2) {
    return options.fn(this);
  }
  return options.inverse(this);
</script>
<script id="trans" class="helper" data-args="arg1,arg2" type="text/html">
    return t(arg1);
</script>
<script id="checkboxFormat" class="helper" data-args="arg1" type="text/html">
      
      checkboxString = arg1.toString();      
      if (checkboxString == "0") return t("No");
      return t("Yes");

</script>

<script id="lastModified" type="text/html">
    <div class="modified-date">This page last modified on {{{dateformat aspDate}}}</div>
</script>
 
<script id="dateformat" class="helper" data-args="aspDate" type="text/html">
//<![CDATA[ // Optional if there are no &, <, or > in your javascript.
      aspDateString = aspDate.toString()
      var dateObject = new Date(parseInt(aspDateString.substr(6)));
      return (dateObject.getMonth()+1) + '/' + dateObject.getDay() + '/' + dateObject.getFullYear();
//]]>
</script>
<script type="text/html" id="errorPageTemplate">
    <div class="span4"><img src="img/oops.jpg"/></div>
    <div class="span8" style="padding-top: 60px;">
    <h3>An error has occurred.</h3>
    <p>{{ error_description}}</p>

         <br/>
        <button class="btn retry">Try Again</button>
    </div>

</script>
<script type="text/html" id="filterBarTemplate">
           <div class="swiper-nav swiper-container" id="front-tabbar-swiper-container" data-snap-ignore="true">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide" data-rel="sort-list"><span>Sorteeri</span></div>
                            <div class="swiper-slide" data-rel="genres-list"><span>Kategooriad</span></div>
                            <div class="swiper-slide" data-rel="durations-list"><span>Kestvus</span></div>
                            <div class="swiper-slide" data-rel="periods-list"><span>Aasta</span></div>
                            <div class="swiper-slide" data-rel="clear-list"><span>Tühista</span></div>

                
                    </div>
            </div>
</script>

<script type="text/html" id="checkboxlistTemplate">
            <div class="selection-wrapper" data-field="{{group}}" data-type="checkbox">
                    <div class="selection toggle-on reset" data-val="reset"><span>All</span></div>
                    {{# items}}
                    <div class="selection" data-val="{{id}}">
                        <span>{{name}}</span>
                    </div>
                    {{/ items}}
            </div>
</script>
<script type="text/html" id="radiolistTemplate">
            <div class="selection-wrapper" data-field="{{group}}" data-type="radio">
                    {{# items}}
                    <div class="selection {{#default}}toggle-on{{/ default}}" data-val="{{id}}" data-desc="{{desc}}"><span>{{name}}</span></div>
                    {{/ items}}
            </div>
</script>
<script type="text/template" id="featuredTemplate">

                            <div class="swiper-container" id="featured-swiper-container" data-snap-ignore="true">

                                <a class="arrow-left" href="#"></a>
                                <a class="arrow-right" href="#"></a>
                                <div class="swiper-wrapper" id="featured-slides"></div>
                                <div class="pagination"></div>
                            </div>
</script>
<script type="text/template" id="featuredItemTemplate">
            <div class="swiper-slide">
                    <div class="featured-item">
                            <div class="featured-item-info">
                                    <div class="featured-item-title">{{film.title}}</div>
                                    <div class="featured-item-description">{{film.shortOverview}}</div>
                                    <div class="featured-item-button">
                                            <a href="#{{film.seo_friendly_url}}"><button class="btn green icon play">Vaata</button></a>
                                    </div>
                            </div>
                            <div class="featured-item-background" style="background-image: url('http://gonzales.vifi.ee/files/images/image.php?src={{ film.backdrop_url }}&w=1280&h=720');"></div>
                    </div>
            </div>
</script>
