<script type="text/html" id="playerTemplate">
            <div id="video-container-heading" class="float_left">
                    <div id="close-player" class="close"><span class="close-button"></span>Close</div>
            </div>
            <div id="player-container"></div>
            <div id="video-container-footer" class="float_left"></div>
</script>

<script type="text/html" id="playerControlsTemplate">
            <div class="video-selector">
                    <select id="video-sub" data-value="none" data-category="player-subtitles" class="select-box">
                        <option value="reset">Subtitles (auto)</option>
                        {{#subtitles}}
                        <option value="{{code}}">{{ language }}</option>
                        {{/subtitles}}
                    </select>
            </div>
            <div class="video-selector">
                    <select id="video-lang" data-value="none" data-category="player-audio" class="select-box">
                        <option value="reset">Audio (auto)  </option>
                        {{#subtitles}}
                        <option value="{{code}}">{{ language }}</option>
                        {{/subtitles}}
                                    </select>                
            </div>
            <div class="video-selector">
                    <select id="video-quality" data-category="player-quality" class="select-box">
                                <option value="reset">Quality (Auto)</option>
                            {{#videos }}
                                <option value="{{code}}">{{profile}}</option>
                            {{/videos }}
                </select>
            </div>
                        
            
</script>
<script type="text/html" id="trailerTemplate">
        <div class="video-container float_left">
                        <div id="video-container-heading" class="float_left">
                                <div id="close-trailer" class="close"><span class="close-button"></span> Close</div>
                        </div>
                        <div class="video-container-body float_left" id="trailer-container-body">
                                <iframe class="float_left" src="//www.youtube.com/embed/{{youtube_id}}" frameborder="0" allowfullsceen></iframe>
                                <div id="video-container-footer" class="float_left">
                                        <ul>
                                                <li><a><button class="btn green icon play">{{ playButton }}</button></a></li>
                                                <li><a><button class="btn icon gift"></span>Kingi Söbrale!</button></a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
</script>